.news-container {
  margin: 0 auto;
  padding: 20px;

  .page-title {
    text-align: center;
    margin-bottom: 30px;
  }

  .news-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 30px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .news-title {
      background: var(--light-violet-color);
      padding: 20px 20px;

      h2 {
        margin: 0;
        font-size: 30px;
        text-align: center;
      }
    }

    .news-content {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      padding: 15px;

      .news-images {
        flex: 1 1 40%;
        position: relative;

        img {
          width: 100%;
          max-height: 600px;
          object-fit: cover;
          border-radius: 8px;
          transition: transform 0.3s ease, opacity 0.3s ease;
        }
      }

      .news-text {
        flex: 1 1 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 

        p {
          margin: 0;
        }

        .news-meta {
          font-size: 14px;
          color: #666;
          margin-top: 10px;
          text-align: right; 
        }
      }
    }

    .delete-btn {
      margin: 10px 15px;
      background: #fff;
      border: 1px solid #c62828;
      padding: 6px 12px;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: #ffa4a4;
      }
    }
  }

  /* форми */
  .add-news-form,
  .auth-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    input,
    textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      transition: border 0.3s ease, box-shadow 0.3s ease;

      &:focus {
        border-color: var(--blue-color);
        box-shadow: 0 0 5px var(--hover-blue-color);
        outline: none;
      }
    }

    button, .logout-btn {
      background: var(--blue-color);
      color: white;
      padding: 10px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: var(--hover-blue-color);
      }
    }
  }
}
