.rozklad-group {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .schedule-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    th {
      background-color: var(--light-violet-color);
      color: #000;
      padding: 14px 30px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
    }

    td {
      background-color: var(--blue-color);
      color: #fff;
      padding: 12px 30px;
      line-height: 1.4;
      text-align: left;
    }

    .day-cell {
      font-weight: bold;
      background-color: var(--blue-color);
      width: 300px;
      border-bottom: 1px solid #fff;
    }

    tr.day-separator td {
      border-bottom: 1px solid #fff;
      padding-bottom: 30px;
    }
  }

  .back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--blue-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;

    &:hover {
      background-color: #fff;
      color: var(--blue-color);
      border: 1px solid var(--blue-color);
    }
  }

  /* планшети */
  @media (max-width: 992px) {
    h2 {
      font-size: 22px;
    }

    .schedule-table {
      width: 100%;
      font-size: 14px;

      th,
      td {
        padding: 10px 15px;
      }
    }
  }

  /* телефони */
    @media (max-width: 576px) {
        .schedule-table,
        .schedule-table thead,
        .schedule-table tbody,
        .schedule-table th,
        .schedule-table td,
        .schedule-table tr {
            display: block;
            width: 100%;
        }

        .schedule-table thead {
            display: none; // ховаємо заголовок
        }

        .schedule-table tr {
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 10px;
            background: var(--blue-color);
            color: #fff;
        }

        .schedule-table td {
            border: none;
            padding: 8px;
            text-align: left;
            font-size: 14px;
            position: relative;

            &::before {
            content: attr(data-label);
                font-weight: bold;
                display: block;
                margin-bottom: 3px;
                color: #f0f0f0;
            }

            &.day-cell {
                width: auto;
                row-span: unset;
            }
        }
    }

}
